<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if age < 5 %}
    {% if sex == "m" %}
    male baby
    {% else %}
    female baby
    {% endif %}
{% elif age < 10 }
    {% if sex == "m" %}
    male child
    {% else %}
    female child
    {% endif %}
{% elif age < 20 %}
    {% if sex == "m" %}
    male teenage
    {% else %}
    female teenage
    {% endif %}
{% else %}
    {% if sex == "m" %}
    male adult
    {% else %}
    female adult
    {% endif %}
{% endif %}
</body>
</html>