<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <style> a {
        text-decoration: none;
        color: blue
    }

    a:visted {
        text-decoration: none;
        color: blue
    }

    a:hover {
        text-decoration: none;
        background-color: yellow
    }
    </style>
</head>
<body>
<div style="text-align:center">
    <div style="width:1000px;display:inline-block">
        <h1 align="center" style="color:red">众志成城、战胜疫情</h1>
        <div style="float:left;width:180px;height:600px;overflow:scroll;background-color:gray;text-align:left">
            <ul>
                <li><a href="/cv/01.html" target="frm">病毒简介</a></li>
                <li><a href="/cv/02.html" target="frm">传播途径</a></li>
                <li><a href="/cv/03.html" target="frm">疫情数据</a></li>
                <li><a href="/cv/04.html" target="frm">中央决策</a></li>
                <li><a href="/cv/05.html" target="frm">众志成城</a></li>
                <li><a href="/cv/06.html" target="frm">战胜疫情</a></li>
            </ul>
        </div>
        <div style="overflow:scroll">
            <iframe name="frm" src="" style="width:100%;height:600px"></iframe>
        </div>
    </div>
</div>
</body>
</html>